<html>
  <head>
   <title>zjujwbtools - a simple application to dump icalendar file from jwbinfosys.zju.edu.cn</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <link rel="icon" id="favicon" href="http://calendar.google.com/googlecalendar/images/favicon_v2010.ico"> 
  </head>  
  <body>
   <h1>zjujwbtools</h1>  
   
   <h2>[Well here I'm only a testing page]</h2>
   <p>
    zjujwbtools will NOT record your password nor collect your personal information.
   </p> 
   <table>   
    <form action="/grab" method="post">
     <tr>
      <td colspan="2">For jwbinfosys.zju.edu.cn: </td>
     </tr>
     <tr>
      <td>Username: </td>
      <td><input type="text" name="zju_username"/></td>
     </tr>
     <tr>
      <td>Password: </td>
      <td><input type="password" name="zju_password"/></td>
     </tr>
     <tr>
      <td colspan="2"><input type="submit" value="Export Your ICal File"></td>
     </tr> 
    </form>
   </table>   

   <h2>Want to contact the developer?</h2>
   <p>
    Leave a message on this project's homepage on GitHub, or mail/gtalk to liu[dot]dongyuan[at]gmail[dot]com / cpy[dot]prefers[dot]you[at]gmail[dot]com
   </p>
   
   <hr/>
   Last updated: 2013-09-10
   <br>
  </body>
</html>

